<%- include("../../views/partials/admin/header") %>
    <section class="content-main">
        <div class="content-header d-flex justify-content-between align-items-center">
            <div>
                <h2 class="content-title card-title">Customers</h2>
            </div>
            <div>
                <!-- Search form -->
                <form action="/admin/users" method="get" class="d-flex">
                    <input type="text" name="search" placeholder="Search customers"
                        class="form-control form-control-sm me-2 bg-white border" />
                    <button class="btn btn-sm bg-white border text-dark" type="submit" id="button-search">
                        <i class="bi bi-search"></i> Search
                    </button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data.length> 0) { %>
                            <% for (let i=0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= data[i].username %>
                                    </td>
                                    <td><b>
                                            <%= data[i].email %>
                                        </b></td>
                                    <td>
                                        <%= data[i].mobile %>
                                    </td>
                                    <td>
                                        <% if (!data[i].isBlocked) { %>
                                            <a href="/admin/blockCustomer?id=<%= data[i]._id %>">
                                                <span class="badge rounded-pill alert-warning">Block</span>
                                            </a>
                                            <% } else { %>
                                                <a href="/admin/UnblockCustomer?id=<%= data[i]._id %>">
                                                    <span class="badge rounded-pill alert-warning">Unblock</span>
                                                </a>
                                                <% } %>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="4" class="text-center text-muted">No customers found</td>
                                        </tr>
                                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <%-include("../../views/partials/admin/pagination")%>

    </section>
    <%- include("../../views/partials/admin/footer") %>