<%- include("../../views/partials/admin/header") %>
<head>
</head>
<div class="content-header">
    <div>
        <h2 class="content-title card-title">Products</h2>
    </div>
</div>
<header class="card-header text-center mb-20">
    <form action="" method="get" class="d-inline">
        <div class="input-group input-group-sm border border-1 border-grey rounded-pill" style="width: 500px; margin-left: 230px;">
            <input type="text" class="form-control border-0 rounded-pill" placeholder="Search products" name="search">
            <button class="btn  border-0" type="submit">Search</button>
        </div>
    </form>
</header>
<div class="right mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><b>Product name</b></th>
                <th scope="col"><b>Category</b></th>
                <th scope="col"><b>Sale Price</b></th>
                <th scope="col"><b>Offer Price</b></th>
                <th scope="col"><b>Offer</b></th>
                <th scope="col"><b>Variants</b></th>
                <th scope="col"><b>Action</b></th>
                <th scope="col"><b>Edit</b></th>
                <th scope="col"><b>Delete</b></th>
            </tr>
        </thead>
        <tbody>
            <%for(let i=data.length-1;i>=0;i--){%>
            <tr>
                <td><%=data[i].productName%></td>
                <td><%=data[i].category.name%></td>
                <td><%=data[i].salePrice%></td>
                <td>
                  <%if(locals.data[i].productOffer){%>
                    <%=data[i].productOffer%>%
                    <%}else{%>
                        0%
                        <%}%>
                </td>
                <td>
                <%if(locals.data[i].productOffer===0){%>
                    <button class="btn btn-info" onclick="addOffer('<%=data[i]._id%>')" style="width: 100px;">
                        <a href="#" class="text-white">Add Offer</a>
                    </button>
                <%}else{%>
                    <button class="btn btn-info" onclick="removeOffer('<%=data[i]._id%>')" style="width: 100px;">
                        <a href="#" class="text-white">Remove</a>
                    </button>
                <%}%>
                </td>
                <td>
                    <%if(data[i].sizeVariants && data[i].sizeVariants.length > 0) {%>
                      <ul class="list-unstyled">
                        <%data[i].sizeVariants.forEach(function(variant) { %>
                          <li><%= variant.size %>: <%= variant.quantity %></li>
                        <% })%>
                      </ul>
                    <%} else {%>
                      No Variants
                    <%}%>
                  </td>
                <td>
                <%if(data[i].isBlocked===false){%>
                    <button class="btn btn-danger" style="width: 80px;">
                        <a href="/admin/blockProduct?id=<%=data[i]._id%>" class="text-white" style="text-decoration: none;">Block</a>
                    </button>
                <%}else{%>
                    <button class="btn btn-success" style="width: 80px;">
                        <a href="/admin/unblockProduct?id=<%=data[i]._id%>" class="text-white" style="text-decoration: none;">Unblock</a>
                    </button>
                <%}%>
                </td>
                <td>
                    <button class="btn btn-info" style="width: 80px;">
                        <a href="/admin/editProduct?id=<%=data[i]._id%>" class="text-white" style="text-decoration: none;">Edit</a>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="deleteProduct('<%=data[i]._id%>')" style="width: 80px;">
                        <a href="#" class="text-white" style="text-decoration: none;">Delete</a>
                    </button>
                </td>
            </tr>
            <%}%>
        </tbody>
    </table>
</div>
</div>
</div>
<%-include("../../views/partials/admin/pagination")%>
 <script>
  function addOffer(productId) {
    showPrompt('Offer in percentage', 'Enter offer percentage (%)', (amount) => {
        if(!amount) return;
        fetch("/admin/addProductOffer",{
            method:"post",
            headers:{ 'Content-Type':'application/json' },
            body: JSON.stringify({ percentage:amount, productId:productId })
        })
        .then((response)=>response.json())
        .then(data=>{
            if(data.status===true){
                showToast('Offer added successfully', 'success');
                setTimeout(() => location.reload(), 1500);
            }else{
                showToast(data.message || "Adding offer failed", "error");
            }
        })
        .catch(err => console.error(err));
    });
  }

  function removeOffer(productId){
     showConfirm('Remove offer', 'Are you sure you want to remove this offer?', (confirmed) => {
        if(confirmed){
           fetch("/admin/removeProductOffer",{
            method:'post',
            headers:{ 'Content-Type':'application/json' },
            body:JSON.stringify({ productId:productId })
           })
           .then((res)=> res.json())
           .then((data)=>{
                if(data.status===true){
                    showToast('Offer removed successfully', 'success');
                    setTimeout(() => location.reload(), 1500);
                } else {
                    showToast('Failed to remove offer', 'error');
                }
           })
           .catch(err => console.error(err));
        }
     });
  }

  function deleteProduct(productId) {
     showConfirm('Delete Product', 'Are you sure you want to delete this product?', (confirmed) => {
        if(confirmed){
           fetch("/admin/deleteProduct/",{
            method:'DELETE',
            headers:{ 'Content-Type':'application/json' },
            body:JSON.stringify({ productId:productId })
           })
           .then((res)=>res.json())
           .then((data)=>{
            if(data.status===true){
                showToast('Product deleted successfully', 'success');
                setTimeout(() => location.reload(), 1500);
            }else{
                showToast('Unable to delete product', 'error');
            }
           })
           .catch(err => console.error(err));
        }
     });
  }
 </script>
<%- include("../../views/partials/admin/footer") %>
